[submodule "sites/all/modules/sites/all/modules/subject"]
	path = sites/all/modules/sites/all/modules/subject
	url = https://github.com/evanb2/subjectModule.git
[submodule "sites/all/modules/subject"]
	path = sites/all/modules/subject
	url = https://github.com/evanb2/subjectModule.git
